Flask
flask_sqlalchemy
flask_bootstrap
flask_migrate
pymysql
mysqldbmodel
pysqlite3
autoconf
automake
bison
build-essential
bzr
ca-certificates
cmake
comerr-dev
curl
dh-python
dnsutils
file
flex
gdb
gir1.2-gdkpixbuf-2.0:amd64
gir1.2-rsvg-2.0:amd64
git
gnupg
gnupg1
gnupg1-curl
