<html>
    <head>
      {% if title %}
      <title>Peekaboo Web - {{ title }}</title>
      {% else %}
      <title>Peekaboo Web</title>
      {% endif %}

      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <script src="{{ url_for('static', filename='scripts/chart.js') }}"></script>
    </head>

    <header>
      <div class="container">
        <img style="width:30px;height:30px;position:absolute" src="{{ url_for('static', filename='images/peekaboo_logo_medium.png') }}">
        <strong>
          <nav>
            <ul class="menu">
              <li><a href="{{ url_for('main.home') }}">Home</a></li>
              <li><a href="{{ url_for('main.headers') }}">Headers</a></li>
              <li><a href="{{ url_for('main.variables') }}">Variables</a></li>
              <li><a href="{{ url_for('main.bindings') }}">Bindings</a></li>
              <li><a href="{{ url_for('main.history') }}">History</a></li>
            </ul>
          </nav>
        </strong>
        <h3>Peekaboo Web</h3>
      </div>
      
    </header>

    <body>
      
      {% block content %}{% endblock %}

    </body>
</html>
