{% extends "base.html" %}

{% block content %}

    <h2>What Your Browser Says</h2>
    <br>
    <center>
        <table width=50% border="1px">
            <thead>
                <tr align=left>
                    <th>Source</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Server Hostname</td>
                    <td>{{ hostname }}</td>
                </tr>
                <tr>
                    <td>Client Hostname</td>
                    <td><p id="clientname"></p></td>
                </tr>
                <tr>
                    <td>Request Client IP</td>
                    <td>{{ requestip }}</td>
                </tr>
                <tr>
                    <td>Environment</td>
                    <td>{{ env }}</td>
                </tr>

            </tbody>
        </table>

        <br>

    </center>


    <script>

        function getosname(){
            let os = require('os');
            var clientname = os.hostname(); 
            alert(clientname);

            document.getElementById("clientname").innerHTML = clientname;
            getosname=clientname;
        }

        getosname();

    </script>

{% endblock %}
