<html>
    <head>
      {% if title %}
      <title>Client Detail Report - {{ title }}</title>
      {% else %}
      <title>Client Detail Report</title>
      {% endif %}

      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <header>
      <div class="container">
        <strong>
          <nav>
            <ul class="menu">
              <li><a href="{{ url_for('main') }}">Home</a></li>
              <li><a href="{{ url_for('timeInfo') }}">Test</a></li>
            </ul>
          </nav>
        </strong>
        <h1 class="logo">Web Client Insight</h1>
      </div>
      
    </header>

    <body>
      {% block content %}{% endblock %}

    </body>
</html>
