{% extends "base.html" %}

{% block content %}

    <h2>What Your Browser Says</h2>
    <br>
    <center>
        <table width="700" border="1px">
            <thead>
                <tr align=left>
                    <th>Source</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>Request Client IP</td>
                    <td>{{ requestip }}</td>
                </tr>

                <tr>
                    <td>Session ID</td>
                    <td>{{ fingerprint }}</td>
                </tr>
                <tr>
                    <td>Cookie Data</td>
                    <td id="cookiedata"></td>
                </tr>

            </tbody>
        </table>
        <br><br><br>
        <canvas id="demandchart" width="400" height="400"></canvas>

    </center>


    <script>

        let _var = {{ dailyhits|tojson }}
        _var = JSON.parse(_var)
        const ctx = document.getElementById('demandchart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                datasets: [{
                    label: 'Daily Sessions',
                    data: _var,
                    backgroundColor: '#0000FF',
                    borderWidth: 1
                }]
            },
            options: {
                parsing: {
                    xAxisKey: 'Date',
                    yAxisKey: 'Sessions'
                },
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                   return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        
        let _cookiedata = getCookie('session').split('.')[0]
        document.getElementById('cookiedata').innerText = atob(_cookiedata)
    </script>

{% endblock %}
